@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap");

.container {
  padding-bottom: 85px;
  padding-top: 65px;
  padding-left: 235px;
  padding-right: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail {
  /* background-color: rgba(107, 73, 139, 0.44); */
  background-color: rgba(0, 0, 0, 0.73);
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 20px;
  /* box-shadow: 0 8px 8px 8px rgba(40, 40, 40, 0.4); */
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.53);  
  /* box-shadow: -3px -3px 6px rgb(108 34 177), 3px 3px 6px rgb(108 34 177); */
  color: white;
  font-size: 20px;
}

.img {
  margin-left: 40px;
  display: flex;
  height: 450px;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 8px 8px 8px rgba(40, 40, 40, 0.4);
  padding: 0 80px;
  
  
}

.img img {
  width: 10vw;
  min-width: -webkit-fill-available;
}

.content {
  padding: 20px 90px;
  display: grid;
  justify-items: start;
}

.content2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.content2 h2 {
  margin-top: 0;
  font-size: 22px;
}

.stars {
  color: #ffff74;
  position: relative;
  left: 240px;
}

.stars p {
  color: white;
  margin-bottom: 0;
}

.content3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}

.price {
  font-size: 40px;
  position: relative;
  right: 15px;
}

.price label {
  color: white;
}

.buttons {
  display: flex;
  justify-self: center;
  padding: 20px;
  gap: 150px;
}

.buttons .btnFalse {
  color: #FF0032;
}

.buttons .btnTrue {
  color: #fff;
}

.buttons .btnTrue:hover {
  color: #FF0032;
}

.buttons button {
  border-radius: 10px;
  border: none;
  /* background-color: #452399; */
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  width: 210px;
  background-color: transparent;
}

.buttons button:disabled {
  color: gray;
  cursor: auto;
}

.buttons button:disabled:hover{
  color: darkgray;
}

.buttons button:hover {
  background-color: transparent;
  font-weight: 700;
}

.buttons .btnCart:hover{
  color: gray;
}

.tags {
  color: #FFD36E;
  font-weight: 700px;
  font-size: 20px;
}