@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap");
.container {
  padding-bottom: 45px;
  padding-top: 45px;
  padding-left: 195px;
  padding-right: 213px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail {
  background-color: rgba(107, 73, 139, 0.44);
  display: flex;
  align-items: center;
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 8px 8px 8px rgba(40, 40, 40, 0.4);
  /* box-shadow: -3px -3px 6px rgb(108 34 177), 3px 3px 6px rgb(108 34 177); */
  color: white;
}

.img {
  margin-left: 40px;
  display: flex;
  height: 450px;
  background-color: white;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 8px 8px 8px rgba(40, 40, 40, 0.4);
  padding: 0 80px;
}

.img img {
  width: 10vw;
  min-width: -webkit-fill-available;
}

.content {
  padding: 20px 90px;
  display: grid;
  justify-items: start;
}

.content2 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.content2 h2 {
  margin-top: 0;
  text-shadow: -3px -3px 5px blueviolet, 3px -3px 5px blueviolet,
    3px 3px 5px blueviolet, -3px 3px 5px blueviolet;
}

.stars {
  color: rgb(220, 220, 0);
  position: relative;
  left: 240px;
}
.stars p {
  color: white;
  margin-bottom: 0;
}

.content3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}

.price {
  font-size: 40px;
  position: relative;
  right: 15px;
}

.price label {
  color: white;
  text-shadow: -3px -3px 5px blueviolet, 3px -3px 5px blueviolet,
    3px 3px 5px blueviolet, -3px 3px 5px blueviolet;
}

.buttons {
  display: flex;
  justify-self: center;
  padding: 20px;
  gap: 150px;
}

.buttons .btnFalse {
  background-color: #30e717;
}

.buttons .btnTrue {
  background-color: rgb(108, 34, 177);
}

.buttons button {
  border-radius: 10px;
  border: none;
  background-color: rgb(108, 34, 177);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  padding: 10px;
  width: 210px;
}

.buttons button:disabled {
  background-color: gray;
  cursor: auto;
}

.buttons button:disabled:hover{
  background-color: gray;
}

.buttons button:hover {
  background-color: #30e717;
  font-size: 1.1rem;
  font-weight: 700;
}

.tags {
  color: yellow;
  font-weight: 700;
  font-size: 20px;
}
