.app {
  text-align: center;
  /* background: rgb(104,45,253);
  background: linear-gradient(0deg, rgba(104,45,253,1) 18%, rgb(13, 13, 17) 93%);   */
  background: linear-gradient(to bottom, #0f0c29, #5d54c2, #24243e);
 
}