body {
  margin: 0;
  background-color: rgb(50,50,50);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-button:not(.collapsed) {
  background-color: brown;
  color:chartreuse;
  box-shadow: inset 0 calc(-1 * #8f0909 ) 0 #170b0b;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #8f0909 !important;
  outline: 0;
  box-shadow: #170a52 !important;
}

.accordion-button {
  border-top-left-radius: #060923;
  border-top-right-radius: #f4f4f4;
}