body {
  margin: 0;
  background-color: rgb(50,50,50);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(169, 3, 140,0.7);
  color: white;
  box-shadow: inset 0 calc(-1 *rgb(108, 34, 177) ) 0 #170b0b;
}

.accordion-button:focus {
  z-index: 3;
  border-color: rgb(108, 34, 177) !important;
  outline: 0;
  box-shadow: rgba(169, 3, 140,0.7) !important;
}

.accordion-button {
  border-top-left-radius: #060923;
  border-top-right-radius: #f4f4f4;
}

.pagination {
  display: inline;
}