body {
  margin: 0;
  font-family: "Poor Richard";
  background-color: rgb(50,50,50);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
