.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding: 50px;

}

.containerPass{
    background-color: #312e344d;
    width: 35%;
    height: 500px;
}

.containerPass h3{
    margin-top: 70px;
}
.containerAdd{
    background-color: #312e344d;
    width: 35%;
    height: 500px;
}

.containerAdd h3{
    margin-top: 80px;
}
h2{
   margin-top: 40px
}
h2, h3 {
    color: beige;
}

.formOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 
  padding: 20px;
}

.formOne input {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 8px;
}

.formOne button {
    background-color: papayawhip;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-weight: bold;
}

.formOne button:hover {
    background-color: rgb(223, 171, 88);
}
.formTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.formTwo input {
    border-radius: 8px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.formTwo button {
    background-color: papayawhip;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-weight: bold;
}

.formTwo button:hover {
    background-color: rgb(223, 171, 88);
}