@import url('https://fonts.googleapis.com/css?family=Montserrat');

.shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 450px;
  margin: 10px;
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.53);
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
  border: 2px solid #000;
  font-family: 'Montserrat', sans-serif; 
  
}
.shell:hover {
  position: relative;
  /* box-shadow: -8px -8px 10px rgba(169, 3, 140, 0.7),
    8px -8px 10px rgba(169, 3, 140, 0.7), 8px 8px 10px rgba(169, 3, 140, 0.7),
    -8px 8px 10px rgba(169, 3, 140, 0.7); */
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.53);  
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 17px 17px 0 0;
  background-color: black;
  width: 100%;
  height: 100px;
  color: white;
  font-size: 85%;
}

.imgShell {
  width: 100%;
  background-color: white;
}

.img {
  user-select: none;
  width: 30%;
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 0 0 17px 17px;
}

.footerPrice {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerPrice h2 {
  position: relative;
  top: 5px;
  font-size: 1.5rem;
  font-weight: 400;
}
.footerPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.footerPrice h2 {
  position: relative;
  top: 5px;
  font-size: 1.5rem;
  font-weight: 400;
}

.footerPrice button {
  margin-bottom: 15px;
  border-radius: 50px;
  width: 0;
  height: 0;
  cursor: pointer;
  background-color: transparent; 
}

.footerPrice .btnTrue {
  position: relative;
  bottom: 15px;
  right: 40px;
  color: #FF0032; 
  font-size: 25px;
}

.footerPrice .heart:hover{
  color: #FF0032;
}

.footerPrice .btnFalse {
  position: relative;
  bottom: 15px;
  right: 43px;
  color: #FF0032;
  font-size: 25px;
}

.footerPrice .btnTrue :hover {
  color: #FF0032;
}

.footerPrice .cartBtn:hover {
  /* background-color: #2D033B; */
  color: darkgray;
}

.footerPrice .cartBtn {
  position: relative;
  bottom: 18px;
  left: 20px;
  font-size: 27px;
  color: gray;
}


.cartBtn:disabled {
  color: gray;
  cursor: auto;
  
}

.cartBtn:disabled:hover {
  color: gray;
}

.NavLink {
  text-decoration: none;
}
