.shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 500px;
  margin: 10px;
  background-color: white;
  box-shadow: -3px -3px 6px rgb(108, 34, 177), 3px 3px 6px rgb(108, 34, 177);
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.shell:hover {
  position: relative;
  box-shadow: none;
  box-shadow:
   -8px -8px 10px rgba(108, 34, 177, 0.7),
   8px -8px 10px rgba(108, 34, 177, 0.7),
   8px 8px 10px rgba(108, 34, 177, 0.7),
   -8px 8px 10px rgba(108, 34, 177, 0.7);
  top: -7px;
}

.header {
  box-sizing: border-box;
  padding: 0 10px;
  border-radius: 17px 17px 0 0;
  background-color: black;
  width: 100%;
  color: white;
}

.imgShell {
  width: 100%;
  background-color: white;
}

.img {
  user-select: none;
  width: 40%;
}

.footer {
  width: 100%;
  background-color: rgb(30, 30, 30);
  color: white;
  border-radius: 0 0 17px 17px;
}

.footerPrice{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  
}
.footerPrice h2 {
  position: relative;
  top: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  left: 170px;
}

.footerPrice button {
  
  
  border-radius: 10px;
  border: none;
  background-color: rgb(108, 34, 177);
  color: white;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.footerPrice button:hover {

  background-color: #30E717;
  font-size: 1.1rem;
  font-weight: 700;
}