.categories{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  user-select: none;
  border: none;
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(169, 3, 140,0.7);
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px 10px;
  box-shadow: 0px 3px 0 rgba(59, 0, 140,0.7);
  cursor:pointer;
}
.btn:hover{
  background-color: rgba(139, 0, 140,0.7);
}
.btn:active {
  transform: translateY(2px);
  background-color: rgba(139, 0, 140,0.4);
  box-shadow: 0px 1px 0 rgba(23, 0, 140,0.7);
}

.active{
  user-select: none;
  border: none;
  border-radius: 0px 0px 10px 10px;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px 10px;
  cursor:pointer;
  transform: translateY(2px);
  background-color: black;
  box-shadow: 0px 1px 0 rgba(3, 0, 120,0.7);
}