.categories{
  display: flex;
  justify-content: center;
  gap: 18px;
  background-color: black;
  padding: 30px;
}

.btn {
  user-select: none;
  border: none;
  border: 2px solid rgba(169, 3, 140,0.7);
  background-color: black;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: poor Richard;
  padding: 5px 10px;
  cursor:pointer;
  text-transform: uppercase;
  transition: 250ms ease-out;
  
}
.btn:hover{
  background-color: rgba(169, 3, 140,0.7);
  color: white;
  box-shadow: 0 0 10px rgba(169, 3, 140,0.7),
  0 0 40px rgba(169, 3, 140,0.7),
  0 0 80px rgba(169, 3, 140,0.7);
  letter-spacing: 0.2em;
  
}
.btn:active {
  transform: translateY(2px);
  background-color: rgba(139, 0, 140,0.4);
  font-family: poor Richard;
}

.active{
  user-select: none;
  border: 2px solid rgba(228, 18, 193, 0.4);
  /* border-radius: 0px 0px 10px 10px; */
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: poor Richard;
  padding: 5px 10px;
  cursor:pointer;
  transform: translateY(2px);
  background-color:rgba(241 23 203 / 73%);
  box-shadow: 0 0 10px rgba(1241 23 203 / 73%),
  0 0 40px rgba(1241 23 203 / 73%),
  0 0 80px rgba(1241 23 203 / 73%);
  text-transform: uppercase;
}