.container {
  background-color: black;
  height: 300px;
}
.containerLoad {
  background-color: black;
  height: 300px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.logonavbar {
  padding-top: 20px;
  height: 70px;
  width: auto;
  margin-top: 8px;
}

.linkscontainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 50px;
}
.linkscontainer a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.rights {
  color: white;
  font-size: 15px;
}

.socialcont {
  display: flex;
  cursor: pointer;
  color: white;
  justify-content: center;
  gap: 50px;
  padding-bottom: 10px;
  align-items: center;
  font-size: 20px;
}

.socialcont .facebook:hover{
  color: #3b5998;
}

.socialcont .twitter:hover{
  color: #55acee;
}

.socialcont .instagram:hover{
  color: #452399;
}

