.container{
    background-color: black;
    height: 300px;
    margin-top: auto;
   
}
.logonavbar{
    padding-top: 20px;
    height:70px;
    width: auto;
    margin-top: 8px;
  }

.linkscontainer{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}
.linkscontainer a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.rights{
    color: white;
    font-size: 15px
}

.socialcont{
    display: flex;
    cursor: pointer;
    color:white;
    justify-content: center;
    gap: 50px;
    transform: scale(1.3);
    padding-bottom: 10px;
    align-items: center;
}

