.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.title2{
    display: inline-block;
    color: #000;
    margin: auto;
    margin-top: 25px;
    text-decoration-line: overline;
    height: 30px;
    border-radius: 10px;
    letter-spacing: 5px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    
}

 .empty {
    padding-top: 150px;
    color: white;
    padding-bottom: 170px;
    letter-spacing: 2px;  
 }

 