.search{
  height: 30px;
  border-radius: 10px 4px 4px 10px;
  padding-left: 10px;
  background-color: white;
}

.btn {
  height: 30px;
  border: none;
  border-radius: 4px 10px 10px 4px;
  background-color: rgba(189, 3, 160,0.7);
  color: white;
  font-family: chiller;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 15px 5px;
  padding: 3px 8px;
  box-shadow: 0px 3px 0 rgba(79, 0, 160,0.7);
  cursor:pointer;
}

.btn:active {
  transform: translateY(2px);
  background-color: rgba(159, 0, 160,0.7);
  box-shadow: 0px 1px 0 rgba(43, 0, 160,0.7);
}