.CarouselContainer {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bannerone {
  display: flex;
  width: 90%;
  height: 500px;
  margin-left:5%
}
.bannertwo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 500px;
  margin-left:5%
}

.bannerthree {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 500px;
  margin-left:5%
}

.CarouselContainer img {
  min-width: 100%;
  height: 400px;
}