.btn {
  user-select: none;
 border-radius: 3px;
  gap: 10px;
  background-color: transparent;
  color: white;
  font-size: 23px;
  font-weight: 900;
  margin: 15px 5px;
  padding: 5px 10px;
  cursor:pointer;
  font-family: poor Richard;
  border: 3px solid #8f88fa;
}

.btn:active {
  transform: translateY(2px);
  background-color: #8f88fa;;
}

.active{
  transition: all 0.1s ease-in-out;
  user-select: none;
  text-align: center;
  color: white;
  font-size: 23px;
  font-weight: 900;
  margin: 15px 5px;
  padding: 4px 9px;
  cursor:pointer;
  transform: translateY(2px);
  background-color: #331875;
  box-shadow: 0 0 10px #331875,
  0 0 40px #331875,
  0 0 80px #331875;
  font-family: poor Richard;
  border-radius: 3px;
}
