.btn {
  user-select: none;
  border: 3px solid rgba(169, 3, 140,0.7);
  gap: 10px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: 900;
  margin: 15px 5px;
  padding: 5px 10px;
  cursor:pointer;
  font-family: poor Richard;
}

.btn:active {
  transform: translateY(2px);
  background-color: rgba(139, 0, 140,0.7);
}

.active{
  transition: all 0.1s ease-in-out;
  user-select: none;
  border: 2px solid rgba(228, 18, 193, 0.4);
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 900;
  margin: 15px 5px;
  padding: 4px 9px;
  cursor:pointer;
  transform: translateY(2px);
  background-color: rgba(241 23 203 / 73%);
  box-shadow: 0 0 10px rgba(1241 23 203 / 73%),
  0 0 40px rgba(1241 23 203 / 73%),
  0 0 80px rgba(1241 23 203 / 73%);
  font-family: poor Richard;
}
