.about h1{
  height: 0px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px;
  margin-left: 30px;

}

.shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 290px;
    margin: 10px;
    background-color: white;
    box-shadow: -3px -3px 6px rgb(108, 34, 177), 3px 3px 6px rgb(108, 34, 177);
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}

.decoration {
  box-sizing: border-box;
  border-radius: 17px 17px 0 0;
  background-color: black;
  width: 100%;
  height: 5%;
}

.imgShell {
  margin-top: 20px;
;
}

.header {
  height: 82px;
  box-sizing: border-box;
  border-radius: 0px 0px 17px 17px;
  width: 100%;
  color: rgb(108, 34, 177);
  font-size:10px;
  
}

.imgShell img {
  width: 110px;
  height: 170px;
  border-radius: 50%;

}

.header button {
  visibility: hidden;
  opacity: 0;
}


.shell:hover .header{
  height: 82px;
  background: black;
}


.shell:hover button{
  float: left;
  margin-left: 50px;

  opacity: 1;
  visibility: visible;
  cursor: pointer;
  font-size: 25px;
}

.shell:hover h3{
  opacity: 0;
  visibility: hidden;

}


.shell:hover img {
transform: scale(1.3) rotate(-3deg);

};

.header h3 {
  color: red;
}
  

  

