.abaut{
    display: block;
    justify-content: space-between;
    /* background: rgb(34,175,195);
    background: linear-gradient(0deg, rgba(34,175,195,1) 0%, rgba(104,45,253,1) 100%); */   
    /* height: 180vh; */  
    font-family: 'Montserrat', sans-serif;
  }
  
  .scroll{
    margin-right: 4%;
  }

  .header h1{
    text-decoration-line: overline;
    letter-spacing: 5px;
    color: #fff;
    font-size: 22px;
  }
  
  .header{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.859); */
    /* background: rgb(46,46,46);
    background: linear-gradient(0deg, rgba(46,46,46,1) 0%, rgba(0,0,0,1) 100%, rgba(104,45,253,1) 100%); */
    background: rgba(0, 0, 0, 0.4);
    /* margin: 25px; */
    /* border-radius: 15px; */
    justify-content: center;
    color: #ECEBEB;
    font-size: 16px;
    border-bottom: 2px solid black;
    
  }
  
  .cardsInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin: 40px;
    width: 300px;
    height: 398px;
    align-items: center;
    padding-top: 5px;
    overflow: hidden;
    background-color: #5D3891;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 40%);
    transition: all 200ms ease;
    border: solid 2px transparent;
    backdrop-filter: blur(10px);
    color: white
  }

  .cardsInfo h3 {
    font-size: 1.2rem;
  }

  .title{
    font-size:25px;
    margin-bottom: 0.5em;
    /* font-family: "Pacifico", cursive; */
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.309);
  }
  .cardsAbout{
    /* display: grid;
    grid-template-columns: repeat(3, 28%); */
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  
  .logo:hover {
    transform: translateY(-1%);
    border-radius: 25px;
  }
  
  .cardsInfo:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-1%);
  }
  
  .logos{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 30px;
    gap: 100%;
   
  }
  .cardsInfo h2{
    font-size: 18px;

    color: white;
  }
  
  .cardsInfo img{
    border-radius: 14px;
    width: 80%;
  }
   
  .header p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 50%;
  }

.logo-container {
    text-decoration: none;
    color: #d6aaf8;
    font-size: 40px;
  }

.logo-container:hover{

    transform: translateY(-1%);
}

.cardsInfo img{
  margin-bottom: 35px;
}