.nav{
  user-select: none;
  z-index: 9;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0 60px;  
  font-size: 20px;
  box-shadow: 0 3px 3px rgba(43, 0, 160,0.5);
}

.link{
  color: white;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.link h2{
  position: relative;
  bottom: 2px;
}


.link:hover{
  color: #5D3891; 
}

.right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.nav h2{
  margin:0;  
}

.logonavbar{
  height:70px;
  width: auto;
  margin-top: 8px;
}

.login{
  border-radius: 50%;
  height:40px;
  width: auto;
  cursor: pointer;
}

.login:hover {
  transform: scale(1.1);
}

.cart{
  height:39px;
  width: auto;
  cursor: pointer;
}

.cart:hover{
  transform: scale(1.1);
}

.modalContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  
}

.modalBody{
  background-color: rgba(150, 130, 173, 0.966);
  width: 500px;
  min-width: 500px;
  height: 600px;
  min-height: 400px;
  border-radius: 10px;
  position: relative;
  padding: 1rem;
  box-shadow: 0 0 40px rgba(116, 115, 122, 0.6);
  border: 2px solid rgba(255,255,255,0.1)
}

.modalBody *{
  font-family: 'Poppins',sans-serif;
    /* color: #ffffff; */
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.modalBody h3{
  color: black;
  margin-bottom: 30px;
  margin-top: 50px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.modalClose{
  
  background-color: black;
  color: beige;
  position: absolute;
  margin: 3px;
  top: 6px;
  right: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;

}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.modalForm .default{
  margin-right: 270px;
}
.modalForm label{
    font-weight: bold;
    margin-right: 240px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    color:rgb(3, 3, 3);

}
.modalUser{
  width: 70%;
  height: 40px;
  border: none;
  border: 0.2px solid rgb(3, 3, 3);
  padding: 0 1rem;
  background-color: rgba(255,255,255,0.07);
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
}
.modalUser::placeholder{
  color:rgb(49, 42, 42);
  font-size: 14px;
  pointer-events: none;
}

.modalPass{
  width: 70%;
  height: 40px;
  border: none;
  border: 0.2px solid rgb(3, 3, 3);
  padding: 0 1rem;
  background-color: rgba(255,255,255,0.07);
  padding: 0 10px;
  font-size: 16px;
  font-weight: 300;
}

.modalPass::placeholder{
  color:rgb(49, 42, 42);
  font-size: 14px;
  pointer-events: none;
}
.modalButton {
  width: 70%;
  height: 40px;
  border-radius: 0.5rem;
  margin-top: 3rem;
  background-color: #ffffff;
  color: #080710;
  cursor: pointer;
  font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}

.modalButton:hover{
  background-color: rgba(255,255,255,0.47);
}

.btnOrder {
  width: 50%;
  height: 40px;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0 1rem;
  /* margin: 0.6rem 0; */
  /* margin-top: 3rem; */
  background-color: black;
  color: rgb(198, 18, 214);
  
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.btnOut{
  width: 50%;
  height: 40px;
  border-radius: 0.5rem;
  border: 1px solid black;
  padding: 0 1rem;
  /* margin: 0.6rem 0; */
  /* margin-top: 3rem; */
  background-color: black;
  color: rgb(198, 18, 214);
  
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.modalBtnGoogle{
  width: 70%;
  height: 40px;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: papayawhip;
  color: #080710;
  cursor: pointer;
  font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}
 .modalBtnGoogle:hover{
  background-color: rgb(235, 208, 165);
 }

 .modalBtnGoogle .google{
  font-size: 30px;
  margin-right: 10px;
 }

.modalSignIn {
  display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
    align-items: flex-start;
  
}

.modalSignIn p {
  font-size: 16px;
  
}
.modalSignIn button {
  width: 70%;
  height: 40px;
  border-radius: 0.5rem;
  margin-top: 5px;
  background-color: black;
  color:white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
}

.modalSignIn button:hover{
  background-color: rgba(37, 31, 31, 0.705);
}

/* modal register */
.modalRegister {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  
}

.modalBodyRegister {
  background-color: rgba(150, 130, 173, 0.966);
  width: 500px;
  min-width: 500px;
  height: 700px;
  min-height: 400px;
  border-radius: 10px;
  position: relative;
  padding: 1rem;
  box-shadow: 0 0 40px rgba(116, 115, 122, 0.6);
  border: 2px solid rgba(255,255,255,0.1)
}

.modalCloseRegister {
  background-color: black;
  color: beige;
  position: absolute;
  margin: 3px;
  top: 6px;
  right: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
}

.modalBodyRegister h3{
  color: black;
  margin-top: 50px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
.modalFormRegister {

  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalBodyRegister *{
  font-family: 'Poppins',sans-serif;
    /* color: #ffffff; */
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.modalFormRegister input {
  width: 70%;
  height: 40px;
  border: none;
  border: 0.2px solid rgb(3, 3, 3);
  padding: 0 1rem;
  background-color: rgba(255,255,255,0.07);
  padding: 0 10px;
  font-size: 18px;
  font-weight: 300;
  
}

.modalFormRegister input::placeholder{
  color:rgb(49, 42, 42);
  font-size: 14px;
  pointer-events: none;
}

.modalFormRegister label{
    margin-right: 240px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500px;
    color:rgb(3, 3, 3);
}
.modalBtnRegister {
  width: 70%;
  height: 50px;
  border-radius: 0.5rem;
  margin-top: 3rem;
  background-color: papayawhip;
  color: black;
  cursor: pointer;
  font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}

.modalBtnRegister:hover{
  background-color: rgb(235, 208, 165);
}

.modalBtnRegister .iconReg{
  font-size: 25px;
  margin-right: 10px;
}
.error {
  width:70%;
  color: rgb(190, 42, 42);
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
  outline: 1px solid rgb(187, 77, 77);
  
}

.error .logoerror{
  font-size: 20px;
  margin-right: 20px;
  
}